**/output/
base.c
.vscode/
*.o
**/build/
**/__pycache__/

# exclude LaTeX-related files
*.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.pyg
*.toc
*.synctex.gz
*.out

# wk4 files
**/node_modules/
.env
package-lock.json 
# not a good idea to ignore package-lock, but since it is used only for the assignment, added